
.auth{
width: 15rem;
margin-top: 10%;
margin-left: 40%;
background-color: white;
}

.auth-buttons > :nth-child(1){
width: 40%;
}

.auth-button{
width: 50%;
}


.auth-p{
    cursor: pointer;
    color: rgb(39, 55, 77);
    text-decoration: underline;
    font-weight: bold;
}