body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    padding-left: 0;
    margin: 0;
    background-color: rgb(12, 39, 139);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
 }
 

p{
    padding: 0;
}


.input{
    background-color: rgb(232, 209, 209);
    padding: 1rem;
    outline: none;
    border-radius: 0.8rem;
    border: none;
    color: black;
}

.button{
    background-color:orange ;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    color: orange;
    background-color: white;
    border: 1px solid orange;

}


.vertical-container{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.horizontal-container{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}